<section id="portfolio">
    <div class="container">
      <div class="center">
        <br>
         <h2>About Travel Management System</h2>
      </div>
    </div>
</section>
<section id="about-us">
        <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
			<div class="center wow fadeInDown">
			<br>
				<p class="lead">This website provides the users with a simple way of deciding and creating trip plans by letting them design precise and accurate schedules and by giving them access to the trip itineraries shared by other people</p>
			</div>
			
			<!-- about us slider -->

		</div><!--/.container-->
		</div>
		<br><br><br><br><br><br><br>
    </section><!--/about-us-->